<form method="GET" action="/user/search">
    <div class="form-group">
        <input type="text" class="form-control" name="name" placeholder="Search">
    </div>
    <button type="submit" class="btn btn-sm btn-primary">Tìm</button>
</form>